@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
    --poppy: #CD4747;     
    --lightcoral: #DE7B7B;
    --peach: #FABC8A;
    --lightpeach: #FFE6BD;
    --antiquewhite: #FFF2DE;
    --brown: #963413;
    --jet: #464340;
    --lightjet: #8d8d8d;
}
.main-body
{
    display: flex;
    margin-top: 128px;
    height: 81.6vh;
    
}
